---
layout: default
---
<div class="post">

  <header class="post-header{% if page.permalink == '/' %} home-post-header{% endif %}">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>

  <article class="post-content {{ page.title | strip_html | slugify }}{% if page.permalink == '/' %} home-post-content{% endif %} clearfix">
    {{ content }}
  </article>

  {% if page.social %}
    {% include social.html %}
  {% endif %}

</div>
